html, body, ul, li  {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    font-family: Hiragino Sans GB, Arial, Helvetica, "\5B8B\4F53", sans-serif;
}
ul {
    list-style: none;
}
[v-clock] {
    display: none;
}
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  
.iconempty {
    width: 100px;
    height: 120px;
    display: inline-block;
    background: url(http://s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:9096d347/5a331298a86e2c620b20b529850b1332.png);
    background-size: 100%;
}

.iconfont {
    font-size: 16px!important;
}

.text-r {
    text-align: right;
}
.text-l {
    text-align: left;
}
.text-c {
    text-align: center;
}

.font-s {
    font-size: 12px;
}

.font-n {
    font-size: 16px;
}

.img_meituan {
    width: 50px;
    height: 15px;
    background-image: url('~src/assets/meituan.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.img_pinpai {
    width: 26px;
    height: 13px;
    background-image: url('~src/assets/brand.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.img_loading {
   width: 22px;
   height: 22px;
   background-image: url('~src/assets/loading.png');
   background-repeat: no-repeat;
   background-size: contain;
   animation: rotate 1s infinite linear;
   -webkit-animation: rotate 1s infinite linear;
}
@keyframes rotate {
    0% { transform: rotate(0) ; -webkit-transform: rotate(0) ; -moz-transform: rotate(0) ; -ms-transform: rotate(0) ; -o-transform: rotate(0) ; }
    100% { transform: rotate(360deg) ; -webkit-transform: rotate(360deg) ; -moz-transform: rotate(360deg) ; -ms-transform: rotate(360deg) ; -o-transform: rotate(360deg) ; }
}